#main-text{
    min-width: 80%;
    text-align: center;
    background-color:white;
    padding: 1rem;
    height: 100%;
}

h2 {
    font-weight: 600;
    color: blueviolet;
}

body{
    font-family: 'Secular One', sans-serif;
    font-weight: 700;
    background-color: #F5F5F5;
    max-width: 70%;
    margin: auto;
    justify-content: center;
}

#log-form{
    padding: 1.5rem;
    width: 40%;
    margin: auto;
}

.form-field{
    margin: 0.8rem;
}